@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  min-height: calc(100% + env(safe-area-inset-top));
  padding: env(safe-area-inset-top) env(safe-area-inset-right)
    env(safe-area-inset-bottom) env(safe-area-inset-left);
}

body {
  -webkit-tap-highlight-color: transparent;
}
