# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-functions~=1.22
pint~=0.24
recipe-scrapers~=15.7
python-multipart~=0.0.20
Pillow==11.1
pillow-avif-plugin~=1.5
pytest~=8.3
azure-cosmos~=4.9
jsonschema~=4.24
lxml==5.1.0
qrcode==8.2