# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by the Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-functions
recipe-scrapers>=14.14.1
pint>=0.19.2
python-multipart>=0.0.5
Pillow>=9.2.0